.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #444;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc; /* Add a border for better separation */
}

.correct {
  background-color: #28a745;
  color: #fff;
}

.wrong {
  background-color: #dc3545;
  color: #fff;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3; /* Darken the background color on hover */
}

.index {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #666;
}
